<h2>{{title}}</h2>

<table class="table table-dark">
  <tr>
    <th>Nome</th>
    <td> {{user.name}}</td>
  </tr>
  <tr>
    <th>Cognome</th>
    <td> {{user.lastname}}</td>
  </tr>
  <tr>
    <th>Codice Fiscale</th>
    <td> {{user.fiscalcode}}</td>
  </tr>
  <tr>
    <th>Email</th>
    <td> {{user.email}}</td>
  </tr>
  <tr>
    <th>Telefono</th>
    <td> {{user.telefono}}</td>
  </tr>
  <tr>
    <th>Età</th>
    <td> {{user.age}}</td>
  </tr>
  <tr>
    <th>Provincia</th>
    <td> {{user.provincia}}</td>
  </tr>

  <tfoot>
    <tr>
      <td colspan="2" class="text-center"> <button (click)="backToUser()" class="btn btn-primary">BACK</button> </td>
    </tr>
  </tfoot>
</table>
